{"openapi":"3.1.0","info":{"title":"Yansnet API","description":"API documentation for Yansnet application","contact":{"name":"Etsia Team","url":"https://etsia.com","email":"support@etsia.com"},"license":{"name":"Apache 2.0","url":"https://www.apache.org/licenses/LICENSE-2.0"},"version":"1.0.0"},"servers":[{"url":"https://yansnetapi.enlighteninnovation.com","description":"Production server"},{"url":"http://localhost:8085","description":"Local development server"}],"security":[{"Bearer Authentication":[]}],"tags":[{"name":"Post Interactions","description":"Endpoints for liking and disliking posts"},{"name":"Event Management","description":"Endpoints for creating and managing university events"},{"name":"Comment Interactions","description":"Endpoints for liking and disliking comments"},{"name":"Network Management","description":"Endpoints for user network dashboard, connections, and suggestions"},{"name":"Messaging","description":"REST API for conversations and messages"},{"name":"Media Management","description":"Endpoints for uploading and managing files in MinIO storage"},{"name":"Authentication","description":"Endpoints for user login, registration, refresh token, and logout"},{"name":"Post Management","description":"Endpoints for creating, retrieving, and managing social posts"},{"name":"User Management","description":"Endpoints for managing user profiles and information"},{"name":"Job Management","description":"Endpoints for posting and managing job offers and internships"},{"name":"Search","description":"Global search endpoints for users, posts, events, and jobs"}],"paths":{"/api/user":{"put":{"tags":["User Management"],"summary":"Update user","description":"Updates an existing user's profile information","operationId":"update","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserUpdateDto"}}},"required":true},"responses":{"200":{"description":"User updated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDto"}}}}}},"post":{"tags":["User Management"],"summary":"Create user","description":"Creates a new user manually (internal use)","operationId":"Save","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateUserDto"}}},"required":true},"responses":{"200":{"description":"User created successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDto"}}}}}}},"/api/groups":{"get":{"tags":["group-controller"],"operationId":"getAllGroups","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GroupDto"}}}}}}},"put":{"tags":["group-controller"],"operationId":"updateGroup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateGroupDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupDto"}}}}}},"post":{"tags":["group-controller"],"operationId":"createGroup","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateGroupDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupDto"}}}}}}},"/api/groups/members/role":{"put":{"tags":["group-controller"],"operationId":"updateMemberRole","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMemberRoleDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupMemberDto"}}}}}}},"/Conversation/{id}":{"get":{"tags":["conversation-controller"],"operationId":"findById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConversationDto"}}}}}},"put":{"tags":["conversation-controller"],"operationId":"update_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateConversationDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConversationDto"}}}}}},"delete":{"tags":["conversation-controller"],"operationId":"delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},"/follow/{followerId}/{followedId}":{"post":{"tags":["follow-controller"],"operationId":"follow","parameters":[{"name":"followerId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"followedId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/channel":{"post":{"tags":["channel-controller"],"operationId":"createGroup_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateGroupRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/channelFollow/follow/{channelId}/{followerId}":{"post":{"tags":["channel-follow-controller"],"operationId":"follow_1","parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"followerId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/auth/register":{"post":{"tags":["Authentication"],"summary":"Register a new user","description":"Creates a new user account and returns tokens","operationId":"register","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RegisterRequest"}}},"required":true},"responses":{"200":{"description":"Successfully registered","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}},"400":{"description":"Invalid registration data","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}}}}},"/auth/refresh":{"post":{"tags":["Authentication"],"summary":"Refresh access token","description":"Uses refresh token to get a new access token","operationId":"refresh","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RefreshTokenRequest"}}},"required":true},"responses":{"200":{"description":"Successfully refreshed tokens","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}},"401":{"description":"Invalid or expired refresh token","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}}}}},"/auth/logout":{"post":{"tags":["Authentication"],"summary":"Logout a user","description":"Invalidates all user tokens","operationId":"logout","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LogoutRequest"}}},"required":true},"responses":{"200":{"description":"Successfully logged out"}}}},"/auth/login":{"post":{"tags":["Authentication"],"summary":"Login a user","description":"Authenticates a user and returns access and refresh tokens","operationId":"login","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginRequest"}}},"required":true},"responses":{"200":{"description":"Successfully authenticated","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}},"401":{"description":"Invalid credentials","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TokenResponse"}}}}}}},"/api/posts":{"get":{"tags":["Post Management"],"summary":"Get all posts","description":"Retrieves a paginated list of social posts","operationId":"getAllPosts","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","default":"createdAt"}},{"name":"direction","in":"query","required":false,"schema":{"type":"string","default":"desc"}}],"responses":{"200":{"description":"Successfully retrieved posts","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponsePostDto"}}}}}},"post":{"tags":["Post Management"],"summary":"Create a new post","description":"Submits a new post with content and optional media","operationId":"save","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePostRequest"}}},"required":true},"responses":{"200":{"description":"Post created successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PostDto"}}}}}},"patch":{"tags":["Post Management"],"summary":"Update a post","description":"Updates the content of an existing post","operationId":"update_2","parameters":[{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PostDto"}}},"required":true},"responses":{"200":{"description":"Post updated successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PostDto"}}}}}}},"/api/messages/send":{"post":{"tags":["Messaging"],"summary":"Send message","description":"Send a message to a conversation (also broadcasts via WebSocket)","operationId":"sendMessage","parameters":[{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendMessageRequest"}}},"required":true},"responses":{"200":{"description":"Message sent","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MessageDto"}}}}}}},"/api/messages/conversations":{"get":{"tags":["Messaging"],"summary":"Get user conversations","description":"Get all conversations for the authenticated user","operationId":"getConversations","parameters":[{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":20}}],"responses":{"200":{"description":"Conversations retrieved successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageConversationDto"}}}}}},"post":{"tags":["Messaging"],"summary":"Create conversation","description":"Create a new direct or group conversation","operationId":"createConversation","parameters":[{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateConversationRequest"}}},"required":true},"responses":{"200":{"description":"Conversation created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConversationDto"}}}}}}},"/api/messages/conversations/{conversationId}/members":{"post":{"tags":["Messaging"],"summary":"Add member to group","description":"Add a new member to a group conversation (admin only)","operationId":"addMember","parameters":[{"name":"conversationId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"newMemberId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},"/api/media/upload":{"post":{"tags":["Media Management"],"summary":"Upload generic file","description":"Uploads a file to a specified folder","operationId":"uploadFile","parameters":[{"name":"folder","in":"query","required":false,"schema":{"type":"string","default":"uploads"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UploadResponse"}}}}}}},"/api/media/upload/profile":{"post":{"tags":["Media Management"],"summary":"Upload profile picture","description":"Uploads a profile picture for the current user","operationId":"uploadProfilePicture","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UploadResponse"}}}}}}},"/api/jobs":{"get":{"tags":["Job Management"],"summary":"Get all job offers","description":"Retrieves a paginated list of all active job offers","operationId":"getAllJobOffers","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"Successfully retrieved list of job offers","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageJobResponse"}}}}}},"post":{"tags":["Job Management"],"summary":"Create a job offer","description":"Publishes a new job or internship opportunity","operationId":"createJobOffer","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateJobOfferRequest"}}},"required":true},"responses":{"200":{"description":"Job offer created successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobResponse"}}}}}}},"/api/interactions/posts/{id}/like":{"post":{"tags":["Post Interactions"],"summary":"Like a post","operationId":"likePost","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"responses":{"200":{"description":"OK"}}}},"/api/interactions/posts/{id}/dislike":{"post":{"tags":["Post Interactions"],"summary":"Dislike a post","operationId":"dislikePost","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"responses":{"200":{"description":"OK"}}}},"/api/interactions/comments/{id}/like":{"post":{"tags":["Comment Interactions"],"summary":"Like a comment","operationId":"likeComment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"responses":{"200":{"description":"OK"}}}},"/api/interactions/comments/{id}/dislike":{"post":{"tags":["Comment Interactions"],"summary":"Dislike a comment","operationId":"dislikeComment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"responses":{"200":{"description":"OK"}}}},"/api/groups/members":{"post":{"tags":["group-controller"],"operationId":"addMember_1","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddMemberDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupMemberDto"}}}}}}},"/api/events":{"get":{"tags":["Event Management"],"summary":"Get all events","description":"Retrieves a paginated list of events","operationId":"getAllEvents","parameters":[{"name":"pageable","in":"query","required":true,"schema":{"$ref":"#/components/schemas/Pageable"}}],"responses":{"200":{"description":"Successfully retrieved list of events","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageEventResponse"}}}}}},"post":{"tags":["Event Management"],"summary":"Create a new event","description":"Registers a new event in the system","operationId":"createEvent","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateEventRequest"}}},"required":true},"responses":{"201":{"description":"Event created successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EventResponse"}}}}}}},"/api/events/{id}/rsvp":{"post":{"tags":["Event Management"],"summary":"RSVP to an event","description":"Registers a user's attendance status for an event","operationId":"rsvpEvent","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"status","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"RSVP recorded successfully"}}},"delete":{"tags":["Event Management"],"summary":"Cancel RSVP","description":"Removes a user's RSVP status for an event","operationId":"cancelRsvp","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"204":{"description":"RSVP cancelled successfully"}}}},"/api/comments":{"get":{"tags":["comment-controller"],"operationId":"getAllComments","parameters":[{"name":"postId","in":"query","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}},{"name":"sortBy","in":"query","required":false,"schema":{"type":"string","default":"createdAt"}},{"name":"direction","in":"query","required":false,"schema":{"type":"string","default":"desc"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponseCommentDto"}}}}}},"post":{"tags":["comment-controller"],"operationId":"addComment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCommentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommentDto"}}}}}},"delete":{"tags":["comment-controller"],"operationId":"deleteComment","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}},"patch":{"tags":["comment-controller"],"operationId":"updateComment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CommentDto"}}}}}}},"/Conversation":{"get":{"tags":["conversation-controller"],"operationId":"findAll","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ConversationDto"}}}}}}},"post":{"tags":["conversation-controller"],"operationId":"create","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateConversationDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FindAllUserByConversationDto"}}}}}}},"/Conversation/user/follow/{ConversationId}":{"post":{"tags":["follow-conversation-controller"],"operationId":"follow_2","parameters":[{"name":"ConversationId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FollowConversationDto"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FindAllUserByConversationDto"}}}}}}},"/search":{"get":{"tags":["Search"],"summary":"Global search","description":"Search across all content types (users, posts, events, jobs)","operationId":"globalSearch","parameters":[{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"q","in":"query","description":"Search query","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Page size","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"Search results returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GlobalSearchResponse"}}}}}}},"/search/{type}":{"get":{"tags":["Search"],"summary":"Search by type","description":"Search within a specific content type","operationId":"searchByType","parameters":[{"name":"type","in":"path","description":"Content type: USER, POST, EVENT, JOB","required":true,"schema":{"type":"string"}},{"name":"q","in":"query","description":"Search query","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","description":"Page number","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","description":"Page size","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"Search results returned successfully","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageSearchResult"}}}}}}},"/search/users":{"get":{"tags":["Search"],"summary":"Search users","description":"Search users by name, username, or bio","operationId":"searchUsers","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageSearchResult"}}}}}}},"/search/posts":{"get":{"tags":["Search"],"summary":"Search posts","description":"Search posts by content","operationId":"searchPosts","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageSearchResult"}}}}}}},"/search/jobs":{"get":{"tags":["Search"],"summary":"Search jobs","description":"Search job offers by title, description, or location","operationId":"searchJobs","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageSearchResult"}}}}}}},"/search/events":{"get":{"tags":["Search"],"summary":"Search events","description":"Search events by title, description, category, or location","operationId":"searchEvents","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageSearchResult"}}}}}}},"/channel/{id}":{"get":{"tags":["channel-controller"],"operationId":"getGroupById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object"}}}}}}},"/api/user/{id}":{"get":{"tags":["User Management"],"summary":"Get user by ID","description":"Retrieves a user's details using their unique ID","operationId":"FindById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"User found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDto"}}}},"404":{"description":"User not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDto"}}}}}},"delete":{"tags":["User Management"],"summary":"Delete user","description":"Removes a user account permanently","operationId":"Delete","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"204":{"description":"User deleted successfully"}}}},"/api/user/email/{email}":{"get":{"tags":["User Management"],"summary":"Get user by email","description":"Retrieves a user's details using their email address","operationId":"FindByEmail","parameters":[{"name":"email","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"User found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDto"}}}},"404":{"description":"User not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDto"}}}}}}},"/api/user/email/{email}/exists":{"get":{"tags":["User Management"],"summary":"Check if email exists","description":"Checks if a user with the given email already exists","operationId":"existsByEmail","parameters":[{"name":"email","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Existence check successful","content":{"*/*":{"schema":{"type":"boolean"}}}}}}},"/api/user/auth":{"get":{"tags":["User Management"],"summary":"Authenticate user (legacy)","description":"Authenticates using email and password. Use /auth/login instead.","operationId":"FindByEmailAndPassword","parameters":[{"name":"email","in":"query","required":true,"schema":{"type":"string"}},{"name":"password","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Authentication successful","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UserDto"}}}}}}},"/api/posts/{id}":{"get":{"tags":["Post Management"],"summary":"Get post by ID","description":"Retrieves a single post by its ID","operationId":"getPostById","parameters":[{"name":"id","in":"path","description":"Post ID","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Post found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PostDto"}}}},"404":{"description":"Post not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PostDto"}}}}}},"delete":{"tags":["Post Management"],"summary":"Delete a post","description":"Permanently removes a post by its ID","operationId":"deletePost","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"responses":{"204":{"description":"Post deleted successfully"}}}},"/api/posts/user/{userId}":{"get":{"tags":["Post Management"],"summary":"Get posts by user","description":"Retrieves all posts from a specific user","operationId":"getPostsByUser","parameters":[{"name":"userId","in":"path","description":"User ID","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"Successfully retrieved user posts","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponsePostDto"}}}}}}},"/api/posts/search":{"get":{"tags":["Post Management"],"summary":"Search posts","description":"Search posts by content","operationId":"searchPosts_1","parameters":[{"name":"q","in":"query","description":"Search query","required":true,"schema":{"type":"string"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"Search results returned","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponsePostDto"}}}}}}},"/api/posts/me":{"get":{"tags":["Post Management"],"summary":"Get my posts","description":"Retrieves all posts from the authenticated user","operationId":"getMyPosts","parameters":[{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":10}}],"responses":{"200":{"description":"Successfully retrieved user posts","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageResponsePostDto"}}}}}}},"/api/network/suggestions/{userId}":{"get":{"tags":["Network Management"],"summary":"Get network suggestions","description":"Returns a list of suggested people to connect with","operationId":"getSuggestions","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NetworkSuggestionDto"}}}}}}}},"/api/network/stats/{userId}":{"get":{"tags":["Network Management"],"summary":"Get network stats","description":"Returns counts for connections, contacts, and channels","operationId":"getStats","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NetworkStatsDto"}}}}}}},"/api/messages/conversations/{conversationId}":{"get":{"tags":["Messaging"],"summary":"Get conversation by ID","description":"Get a specific conversation with participants","operationId":"getConversation","parameters":[{"name":"conversationId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"responses":{"200":{"description":"Conversation found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConversationDto"}}}},"404":{"description":"Conversation not found or user not a participant","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ConversationDto"}}}}}}},"/api/messages/conversations/{conversationId}/messages":{"get":{"tags":["Messaging"],"summary":"Get messages","description":"Get messages from a conversation with pagination","operationId":"getMessages","parameters":[{"name":"conversationId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}},{"name":"before","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"page","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"size","in":"query","required":false,"schema":{"type":"integer","format":"int32","default":50}}],"responses":{"200":{"description":"Messages retrieved","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageMessageDto"}}}}}}},"/api/jobs/{id}":{"get":{"tags":["Job Management"],"summary":"Get job offer by ID","description":"Retrieves details of a specific job offer","operationId":"getJobOffer","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Job offer found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobResponse"}}}},"404":{"description":"Job offer not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/JobResponse"}}}}}},"delete":{"tags":["Job Management"],"summary":"Delete a job offer","description":"Removes a job offer from the system","operationId":"deleteJobOffer","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"204":{"description":"Job offer deleted successfully"}}}},"/api/groups/{id}":{"get":{"tags":["group-controller"],"operationId":"getGroupById_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/GroupDto"}}}}}},"delete":{"tags":["group-controller"],"operationId":"deleteGroup","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},"/api/groups/{groupId}/members":{"get":{"tags":["group-controller"],"operationId":"getGroupMembers","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/GroupMemberDto"}}}}}}}},"/api/events/{id}":{"get":{"tags":["Event Management"],"summary":"Get event by ID","description":"Retrieves an event's details by its unique identifier","operationId":"getEventById","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"Event found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EventResponse"}}}},"404":{"description":"Event not found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EventResponse"}}}}}},"delete":{"tags":["Event Management"],"summary":"Delete an event","description":"Removes an event and its related RSVPs","operationId":"deleteEvent","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"204":{"description":"Event deleted successfully"}}}},"/Conversation/user/user/{FollowerId}":{"get":{"tags":["follow-conversation-controller"],"operationId":"findConversationUserFollowers","parameters":[{"name":"FollowerId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FindAllConversationByUserDto"}}}}}}}},"/Conversation/user/conversation/{ConversationId}":{"get":{"tags":["follow-conversation-controller"],"operationId":"findUserConversationFollowers","parameters":[{"name":"ConversationId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FindAllUserByConversationDto"}}}}}}}},"/follow/unfollow/{followerId}/{followedId}":{"delete":{"tags":["follow-controller"],"operationId":"unfollow","parameters":[{"name":"followerId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"followedId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/channelFollow/unfollow/{channelId}/{followerId}":{"delete":{"tags":["channel-follow-controller"],"operationId":"unfollow_1","parameters":[{"name":"channelId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"followerId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/messages/conversations/{conversationId}/leave":{"delete":{"tags":["Messaging"],"summary":"Leave conversation","description":"Leave a conversation","operationId":"leaveConversation","parameters":[{"name":"conversationId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"responses":{"200":{"description":"OK"}}}},"/api/interactions/posts/{id}/unlike":{"delete":{"tags":["Post Interactions"],"summary":"Unlike a post","operationId":"unlikePost","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"responses":{"200":{"description":"OK"}}}},"/api/interactions/posts/{id}/undislike":{"delete":{"tags":["Post Interactions"],"summary":"Undislike a post","operationId":"undislikePost","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"responses":{"200":{"description":"OK"}}}},"/api/interactions/comments/{id}/unlike":{"delete":{"tags":["Comment Interactions"],"summary":"Unlike a comment","operationId":"unlikeComment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"responses":{"200":{"description":"OK"}}}},"/api/interactions/comments/{id}/undislike":{"delete":{"tags":["Comment Interactions"],"summary":"Undislike a comment","operationId":"undislikeComment","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"user","in":"query","required":true,"schema":{"$ref":"#/components/schemas/AuthenticatedUser"}}],"responses":{"200":{"description":"OK"}}}},"/api/groups/{groupId}/members/{userId}":{"delete":{"tags":["group-controller"],"operationId":"removeMember","parameters":[{"name":"groupId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK"}}}},"/Conversation/user/unfollow/{ConversationId}/{FollowerId}":{"delete":{"tags":["follow-conversation-controller"],"operationId":"unfollow_2","parameters":[{"name":"FollowerId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}},{"name":"ConversationId","in":"path","required":true,"schema":{"type":"integer","format":"int32"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}}},"components":{"schemas":{"UserUpdateDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"email":{"type":"string"},"password":{"type":"string"},"isActive":{"type":"boolean"},"category_id":{"type":"integer","format":"int32"},"isBlocked":{"type":"boolean"},"department_id":{"type":"integer","format":"int32"},"batch_id":{"type":"integer","format":"int32"},"phoneNumber":{"type":"string"},"name":{"type":"string"},"username":{"type":"string"},"bio":{"type":"string"},"profilePictureUrl":{"type":"string"},"isMentor":{"type":"boolean"},"promotionYear":{"type":"integer","format":"int32"},"totalFollowers":{"type":"integer","format":"int32"},"totalFollowing":{"type":"integer","format":"int32"},"totalPosts":{"type":"integer","format":"int32"}}},"BatchDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"departement":{"type":"string"},"endYear":{"type":"integer","format":"int32"}}},"DepartmentDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"}}},"Email":{"type":"object","properties":{"value":{"type":"string"}}},"PhoneNumber":{"type":"object","properties":{"value":{"type":"string"}}},"UserCategoryDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"description":{"type":"string"}}},"UserDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"password":{"type":"string"},"isActive":{"type":"boolean"},"category":{"$ref":"#/components/schemas/UserCategoryDto"},"isBlocked":{"type":"boolean"},"department":{"$ref":"#/components/schemas/DepartmentDto"},"batch":{"$ref":"#/components/schemas/BatchDto"},"email":{"$ref":"#/components/schemas/Email"},"phoneNumber":{"$ref":"#/components/schemas/PhoneNumber"},"name":{"type":"string"},"username":{"type":"string"},"bio":{"type":"string"},"profilePictureUrl":{"type":"string"},"isMentor":{"type":"boolean"},"promotionYear":{"type":"integer","format":"int32"},"totalFollowers":{"type":"integer","format":"int32"},"totalFollowing":{"type":"integer","format":"int32"},"totalPosts":{"type":"integer","format":"int32"}}},"UpdateGroupDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"description":{"type":"string"},"profileImageUrl":{"type":"string"}}},"GroupDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"name":{"type":"string"},"description":{"type":"string"},"profileImageUrl":{"type":"string"},"createdBy":{"type":"integer","format":"int32"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"}}},"UpdateMemberRoleDto":{"type":"object","properties":{"groupId":{"type":"integer","format":"int32"},"userId":{"type":"integer","format":"int32"},"role":{"type":"string","enum":["ADMIN","MODERATOR","MEMBER"]}}},"GroupMemberDto":{"type":"object","properties":{"userId":{"type":"integer","format":"int32"},"groupId":{"type":"integer","format":"int32"},"role":{"type":"string","enum":["ADMIN","MODERATOR","MEMBER"]},"joinedAt":{"type":"string","format":"date-time"},"user":{"$ref":"#/components/schemas/UserDto"},"group":{"$ref":"#/components/schemas/GroupDto"}}},"UpdateConversationDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"title":{"type":"string"},"description":{"type":"string"},"type":{"type":"string","enum":["PRIVATE","PUBLIC"]}},"required":["id"]},"ConversationDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"title":{"type":"string"},"description":{"type":"string"},"type":{"type":"string","enum":["PRIVATE","PUBLIC"]}}},"CreateGroupRequest":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"}}},"RegisterRequest":{"type":"object","properties":{"email":{"type":"string","minLength":1},"password":{"type":"string","maxLength":2147483647,"minLength":8},"name":{"type":"string","minLength":1},"username":{"type":"string","minLength":1},"phoneNumber":{"type":"string"}},"required":["email","name","password","username"]},"TokenResponse":{"type":"object","properties":{"userId":{"type":"integer","format":"int32"},"email":{"type":"string"},"accessToken":{"type":"string"},"refreshToken":{"type":"string"},"tokenType":{"type":"string"},"expiresIn":{"type":"integer","format":"int64"},"refreshExpiresIn":{"type":"integer","format":"int64"}}},"RefreshTokenRequest":{"type":"object","properties":{"refreshToken":{"type":"string","minLength":1}},"required":["refreshToken"]},"LogoutRequest":{"type":"object","properties":{"userId":{"type":"integer","format":"int32"}},"required":["userId"]},"LoginRequest":{"type":"object","properties":{"email":{"type":"string","minLength":1},"password":{"type":"string","minLength":1},"username":{"type":"string"}},"required":["email","password"]},"CreateUserDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"email":{"type":"string"},"password":{"type":"string"},"isActive":{"type":"boolean"},"category_id":{"type":"integer","format":"int32"},"isBlocked":{"type":"boolean"},"department_id":{"type":"integer","format":"int32"},"batch_id":{"type":"integer","format":"int32"},"phoneNumber":{"type":"string"},"name":{"type":"string"},"username":{"type":"string"},"bio":{"type":"string"},"profilePictureUrl":{"type":"string"},"totalFollowers":{"type":"integer","format":"int32"},"totalFollowing":{"type":"integer","format":"int32"},"totalPosts":{"type":"integer","format":"int32"},"isMentor":{"type":"boolean"},"promotionYear":{"type":"integer","format":"int32"}}},"CreatePostRequest":{"type":"object","properties":{"content":{"type":"string"},"userId":{"type":"integer","format":"int32"},"medias":{"type":"array","items":{"$ref":"#/components/schemas/MediaDto"}}}},"MediaDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32","readOnly":true},"url":{"type":"string"},"uploadedAt":{"type":"string","format":"date-time"},"type":{"type":"string","enum":["IMAGE","VIDEO"]}}},"ChannelDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"title":{"type":"string"},"description":{"type":"string"},"totalFollowers":{"type":"integer","format":"int32"}}},"PostDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"content":{"type":"string"},"deletedAt":{"type":"string","format":"date-time"},"createdAt":{"type":"string","format":"date-time"},"user":{"$ref":"#/components/schemas/UserDto"},"channel":{"$ref":"#/components/schemas/ChannelDto"},"media":{"type":"array","items":{"$ref":"#/components/schemas/MediaDto"}},"totalLikes":{"type":"integer","format":"int32"},"totalComments":{"type":"integer","format":"int32"}}},"AuthenticatedUser":{"type":"object","properties":{"userId":{"type":"integer","format":"int32"},"keycloakId":{"type":"string"},"email":{"type":"string"},"username":{"type":"string"},"name":{"type":"string"},"roles":{"type":"array","items":{"type":"string"}},"admin":{"type":"boolean"}}},"SendMessageRequest":{"type":"object","properties":{"conversationId":{"type":"integer","format":"int32"},"content":{"type":"string","minLength":1},"type":{"type":"string"},"url":{"type":"string"},"userId":{"type":"integer","format":"int32"}},"required":["content","conversationId"]},"MessageDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"conversationId":{"type":"integer","format":"int32"},"senderId":{"type":"integer","format":"int32"},"senderName":{"type":"string"},"senderAvatar":{"type":"string"},"content":{"type":"string"},"url":{"type":"string"},"type":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"read":{"type":"boolean"}}},"CreateConversationRequest":{"type":"object","properties":{"title":{"type":"string"},"description":{"type":"string"},"type":{"type":"string"},"participantIds":{"type":"array","items":{"type":"integer","format":"int32"}}},"required":["participantIds","type"]},"UploadResponse":{"type":"object","properties":{"url":{"type":"string"},"filename":{"type":"string"},"size":{"type":"integer","format":"int64"}}},"CreateJobOfferRequest":{"type":"object","properties":{"title":{"type":"string"},"description":{"type":"string"},"type":{"type":"string","enum":["INTERNSHIP","FULL_TIME","FIXED_TERM","FREELANCE","PART_TIME"]},"location":{"type":"string"},"salary":{"type":"string"},"deadline":{"type":"string","format":"date-time"},"applicationUrl":{"type":"string"},"publisherId":{"type":"integer","format":"int32"},"userId":{"type":"integer","format":"int32"}}},"JobResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"title":{"type":"string"},"description":{"type":"string"},"type":{"type":"string","enum":["INTERNSHIP","FULL_TIME","FIXED_TERM","FREELANCE","PART_TIME"]},"location":{"type":"string"},"salary":{"type":"string"},"deadline":{"type":"string","format":"date-time"},"applicationUrl":{"type":"string"},"publisherId":{"type":"integer","format":"int32"},"publisherName":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"CreateGroupDto":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"profileImageUrl":{"type":"string"},"createdBy":{"type":"integer","format":"int32"},"userId":{"type":"integer","format":"int32"}}},"AddMemberDto":{"type":"object","properties":{"groupId":{"type":"integer","format":"int32"},"userId":{"type":"integer","format":"int32"},"role":{"type":"string","enum":["ADMIN","MODERATOR","MEMBER"]}}},"CreateEventRequest":{"type":"object","properties":{"title":{"type":"string"},"description":{"type":"string"},"category":{"type":"string"},"eventDate":{"type":"string","format":"date-time"},"location":{"type":"string"},"organizerId":{"type":"integer","format":"int32"},"maxParticipants":{"type":"integer","format":"int32"},"imageUrl":{"type":"string"},"userId":{"type":"integer","format":"int32"}}},"EventResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"title":{"type":"string"},"description":{"type":"string"},"category":{"type":"string"},"eventDate":{"type":"string","format":"date-time"},"location":{"type":"string"},"organizerId":{"type":"integer","format":"int32"},"organizerName":{"type":"string"},"maxParticipants":{"type":"integer","format":"int32"},"imageUrl":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"CreateCommentRequest":{"type":"object","properties":{"postId":{"type":"integer","format":"int32"},"userId":{"type":"integer","format":"int32"},"content":{"type":"string"}}},"CommentDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"content":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"deletedAt":{"type":"string","format":"date-time"},"isDeleted":{"type":"boolean"},"isEdited":{"type":"boolean"},"updatedAt":{"type":"string","format":"date-time"},"post":{"$ref":"#/components/schemas/PostDto"},"user":{"$ref":"#/components/schemas/UserDto"},"replyToComment":{},"totalLikes":{"type":"integer","format":"int32"}}},"CreateConversationDto":{"type":"object","properties":{"title":{"type":"string"},"description":{"type":"string"},"type":{"type":"string","enum":["PRIVATE","PUBLIC"]},"followerRoles":{"type":"object","additionalProperties":{"type":"string","enum":["USER","ADMIN"]}}}},"FindAllUserByConversationDto":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"conversation":{"$ref":"#/components/schemas/ConversationDto"},"users":{"type":"array","items":{"$ref":"#/components/schemas/UserWithRoleDto"}}}},"UserWithRoleDto":{"type":"object","properties":{"user":{"$ref":"#/components/schemas/UserDto"},"role":{"type":"string","enum":["USER","ADMIN"]}}},"FollowConversationDto":{"type":"object","properties":{"followerRoles":{"type":"object","additionalProperties":{"type":"string","enum":["USER","ADMIN"]}}}},"GlobalSearchResponse":{"type":"object","properties":{"users":{"type":"array","items":{"$ref":"#/components/schemas/SearchResult"}},"posts":{"type":"array","items":{"$ref":"#/components/schemas/SearchResult"}},"events":{"type":"array","items":{"$ref":"#/components/schemas/SearchResult"}},"jobs":{"type":"array","items":{"$ref":"#/components/schemas/SearchResult"}},"totalResults":{"type":"integer","format":"int32"},"query":{"type":"string"}}},"SearchResult":{"type":"object","properties":{"id":{"type":"integer","format":"int32"},"type":{"type":"string"},"title":{"type":"string"},"description":{"type":"string"},"imageUrl":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"metadata":{}}},"PageSearchResult":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/SearchResult"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"$ref":"#/components/schemas/SortObject"},"pageSize":{"type":"integer","format":"int32"},"paged":{"type":"boolean"},"pageNumber":{"type":"integer","format":"int32"},"unpaged":{"type":"boolean"}}},"SortObject":{"type":"object","properties":{"empty":{"type":"boolean"},"sorted":{"type":"boolean"},"unsorted":{"type":"boolean"}}},"PageResponsePostDto":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/PostDto"}},"pageNumber":{"type":"integer","format":"int32"},"pageSize":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"last":{"type":"boolean"}}},"NetworkSuggestionDto":{"type":"object","properties":{"user":{"$ref":"#/components/schemas/UserDto"},"mutualConnectionsCount":{"type":"integer","format":"int64"},"reason":{"type":"string"}}},"NetworkStatsDto":{"type":"object","properties":{"connectionsCount":{"type":"integer","format":"int64"},"contactsCount":{"type":"integer","format":"int64"},"channelsCount":{"type":"integer","format":"int64"}}},"PageConversationDto":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/ConversationDto"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"empty":{"type":"boolean"}}},"PageMessageDto":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/MessageDto"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"empty":{"type":"boolean"}}},"Pageable":{"type":"object","properties":{"page":{"type":"integer","format":"int32","minimum":0},"size":{"type":"integer","format":"int32","minimum":1},"sort":{"type":"array","items":{"type":"string"}}}},"PageJobResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/JobResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"empty":{"type":"boolean"}}},"PageEventResponse":{"type":"object","properties":{"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"},"first":{"type":"boolean"},"last":{"type":"boolean"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/EventResponse"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"empty":{"type":"boolean"}}},"PageResponseCommentDto":{"type":"object","properties":{"content":{"type":"array","items":{"$ref":"#/components/schemas/CommentDto"}},"totalElements":{"type":"integer","format":"int64"},"totalPages":{"type":"integer","format":"int32"}}},"FindAllConversationByUserDto":{"type":"object","properties":{"user":{"$ref":"#/components/schemas/UserDto"},"conversations":{"type":"array","items":{"$ref":"#/components/schemas/ConversationDto"}}}}},"securitySchemes":{"Bearer Authentication":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}